<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-black min-h-screen">
<!-- Navbar -->
<div class="flex justify-between items-center bg-gray-200 px-6 py-4">
    <h1 class="text-2xl font-bold text-black"><%= user.username %></h1>
    <div class="flex space-x-4">
        <button class="bg-black text-white px-4 py-2 rounded"><a href="/auth/logout">Logout</a></button>
    </div>
</div>
<!-- Welcome Section -->
<div class="p-8 text-center">
    <h2 class="text-3xl font-bold text-black mb-4">
        UNO
    </h2>
</div>
<!-- Split Layout -->
<div class="grid grid-cols-3 gap-6 px-8">
    <!-- Left Section -->
    <div class="col-span-2">
        <div class="flex space-x-4 mb-8">
            <form method="post" action="/games/create">
                <button class="bg-gray-300 text-black px-6 py-3 rounded w-1/4">New Game</button>
            </form>
        </div>

        <table class="w-full">
            <tbody id="available-games-list">
            <% locals.availableGames !== undefined && availableGames.forEach((room) => { %>
                <tr id="game-row-<%= room.id %>">
                    <td class="border-b border-black py-1">Game <%= room.id %></td>
                    <td class="border-b border-black py-1">(<%= room.players %> / <%= room.player_count %>)</td>
                    <td class="text-center border-b border-black py-1">
                        <form action="/games/join/<%= room.id %>" method="post">
                            <button class="bg-black text-white rounded-sm px-2 border border-black">Join</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>

    <template id="game-row-template">
        <tr>
            <td class="border-b border-black py-1"></td>
            <td class="border-b border-black py-1"></td>
            <td class="text-center border-b border-black py-1">
                <form action="/join/X" method="post">
                    <button class="bg-black text-white rounded-sm px-2 border border-black">Join</button>
                </form>
            </td>
        </tr>
    </template>

    <%- include('./partials/chat.ejs', { roomId: roomId }) %>
    <%- include('./partials/footer.ejs') %>
</div>

<script src="/js/lobby.js"></script>
</body>
</html>
